<div class="container">
  <h4 class="text-primary text-center">Form Details are</h4>
</div>

<div class="container">
  <table class="table table-warning">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>phone</th>
        <th>Address</th>
        <th>Desc</th>
        <th>Salary</th>
        <th>update</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employees of employee">
        <td>{{employees.eid}}</td>
        <td>{{employees.userName | uppercase}}</td>
        <td>{{employees.email}}</td>
        <td>{{employees.phone}}</td>
        <td>{{employees.address}}</td>
        <td>{{employees.desc | uppercase}}</td>
        <td>{{employees.salary | currency}}</td>
        <td><button class="btn btn-info" routerLink="/updateEmployee/{{employees.eid}}">update</button></td>
        <td><button class="btn btn-danger" (click)="delete(employees.eid)">delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
